.movie-container{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
}

.movie-container .left{
    display: flex;
    justify-content: space-around;
}

.poster{
    width:10rem;
    height:10rem;
    margin: 0.1rem;
    padding: 0.5rem;
}



.movie-container .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

#movie-title{
    font-size: 2rem;
    font-weight: bold;

}

#movie-plot{
    font-size: 1.5rem;
    font-weight: lighter;
}

#movie-price{
    font-size: 1.5rem;
    font-weight: lighter;
}

#movie-rating{
    font-size: 1.5rem;
    font-weight: lighter;
}

#star-minus{
    margin-right: 0.3rem;
    width: 10px;
    height: 10px;
}

#star-plus{
    margin-left: 0.3rem;
    width: 10px;
    height:10px;

}

#star-img{
    width: 20px;
    height: 20px;
}

#star-count{
    margin-left: 0.9rem;
}

.movie-container .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating{
    margin-right: 0.5rem;
}

.starcount{
    margin-left:30rem;
    margin-right: 40rem;
}

.favourite{
    margin-right: 4rem;
}

.add-to-cart{
    margin-left: 2.8rem;
}

.btn{
    border: none;
    border-radius: 6px;
    font-size: 18px;
    line-height: 40px;
    padding: 0 16px;
    display: block;
    margin-top: 0.8rem;
    color: white;
    font-weight: bolder;
}

#fav{
    background-color: #1877f2;
}

#unFav{
    background-color: rgba(255, 0, 0, 0.794);
}

#addCart{
    background-color: #1877f2;
}

#undoAddCart{
    background-color: rgba(255, 0, 0, 0.794);
}

